<%= render partial: 'form', :locals => {:message => 'Edit your post'} %>
<div class="text-center">
  <%= link_to 'Delete post', post_path(@post), method: :delete, class: 'delete-links', data: { confirm: "Are you sure you want to delete this post?" } %>
</div>
