@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

/* Navbar Styling */

.navbar-brand {
  a {
    color: #592b7d;
  }
  padding: 1px;
}

.navbar-default {
  background-color: #fff;
  height: 60px;
  .navbar-nav li a {
    color: #592b7d;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

.navbar-collapse {
  padding: 4px;
}

.navbar {
  margin-bottom: 0px;
}


/* Posts Styling */

.post-upload-img-wrapper {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post-upload-form {
  margin-bottom: 8px;
  margin-top: 8px;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #cecece;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .post-top {
    flex-direction: row;
    height: 64px;
    color: #592b7d;
    font-size: 15px;
    line-height: 64px;
    .user-name, .time-ago, .post-pic {
      display: inline;
    }
    .user-name {
      font-weight: bold;
      font-size: large;
      color: #592b7d;
      text-decoration: none;
    }
    .user-name:hover {
      color: #2d1542;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
      padding-right: 15px;
    }
    .post-pic {
      padding-top: 9px;
      max-height: 50px;
    }
  }
  .image {
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
  }
}

  .post-bottom {
    margin-bottom: 7px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    .caption-user-name {
      font-weight: 800;
      margin-right: 0.3em;
      color: #592b7d;
      font-size: 16px;
      text-decoration: none;
    }
    .caption-user-name:hover {
      color: #2d1542;
    }
    .caption {
      margin-bottom: 7px;
      display: flex;
    }
    .comment-user-name, .comment-content {
      display: inline;
    }
    .comment-user-name {
      font-weight: 500;
      margin-right: 0.3em;
      color: #592b7d;
      font-size: 15px;
    }
    .user-name, .caption-content {
      display: inline;
    }
    .comments {
      margin-top: 7px;
    }
    .caption-content {
      padding-left: 15px;
      flex-grow: 1;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  .comment-like-form {
    padding-top: 24px;
    margin-top: 13px;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 68px;
    align-items: center;
    border-top: 1px solid #cecece;
    flex-direction: row;
    justify-content: center;
    .comment-content {
      font-size: 15px;
      line-height: 18px;
      border: medium none;
      width: 100%;
      color: #4B4F54;
    }
  }



.comment-user-name:hover {
  color: #2d1542;
  text-decoration: none;
}

.delete-comment {
  float: right;
  color: #515151;
}

/* Forms */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #cecece;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn-main {
  color: white;
  background-color: #592b7d;
  border-color: #2E2F30;
  margin-bottom: 15px;
}

.btn-main:hover {
  color: white;
  background-color: #42215d;
  border-color: #2E2F30;
}

/* Registration/Login Page Styling */

html {
  height: 100%;
}

.form-control {
  width: 100%;
}

.registration-background {
  padding-top: 40px;
  height: 100vh;
  background-image: asset-data-url('reg-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in-background {
  padding-top: 40px;
  height: 100vh;
  background-image: asset-data-url('log-in-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

#paginator {
  color: #592b7d;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #592b7d;
  border-radius: 50%;
  :hover {
    border: 1px solid #42215d;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  color: #592b7d;
  a :hover {
    color: #42215d;
  }
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.profile-image {
  margin: 20px auto;
}

.form-group {
  margin: 15px;
}

.profile-header {
  padding: 20px 0;
}

.profile-image {
  height: 152px;
  width: 152px;
  float: left;
  margin-left: 20px;
}

.user-name-and-family {
  display: inline;
}

.profile-user-name {
  padding-left: 0px;
}

.edit-leave-join {
  padding-top: 18px;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

.like-button-area {
  border-right: 1px solid #cecece;
  margin-bottom: 8px;
}

.like-button:link {
  color: #818488;
  text-decoration: none;
}
.like-button:visited {
  color: #818488;
  text-decoration: none;
}
.like-button:hover {
  color: red;
  text-decoration: none;
}
.like-button:active {
  color: red;
  text-decoration: none;
}

.liked-button:link {
  color: red;
  text-decoration: none;
}
.liked-button:visited {
  color: red;
  text-decoration: none;
}
.liked-button:hover {
  color: #818488;
  text-decoration: none;
}
.liked-button:active {
  color: #818488;
  text-decoration: none;
}

.likes-box {
  margin-bottom: 1px;
}

.user-name-like {
  color: #592b7d;
}
.user-name-like:hover {
  color: #2d1542;
  text-decoration: none;
}

.join-family-button {
  text-transform: uppercase;
  border-color: #592b7d;
  color: #592b7d;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2d1542;
    color: #2d1542;
  }
}

.leave-family-button {
  text-transform: uppercase;
  border-color: #592b7d;
  background-color: #592b7d;
  color: white;
  margin-left: 20px;
  &:visited, &:focus {
    border-color: #592b7d;
    background-color: #592b7d;
    color: white;
  }
  &:hover {
    border-color: #2d1542;
    background-color: #2d1542;
    color: white;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.empty-index-text {
  color: #592b7d;
  font-size: 40px;
}

.empty-index-logo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.empty-index-explore-link {
  text-decoration: none;
  color: #592b7d;
  font-weight: bold;
  &:visited, &:focus {
    text-decoration: none;
    color: #592b7d;
  }
  &:hover {
    text-decoration: none;
    color: #2d1542;
  }
}